<a href="https://colab.research.google.com/github/SaadOsama/DS-A-lab/blob/main/20sw120_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **task 1**

In [1]:
variable1 = 42
variable2 = "Hello, World!"
print("The value of variable1 is {} and the value of variable2 is '{}'.".format(variable1, variable2))

The value of variable1 is 42 and the value of variable2 is 'Hello, World!'.

In [2]:
text = "hello, world!"
print(text.capitalize())

text = "hello, world!"
print(text.upper())

text = "Hello, World!"
print(text.lower())

text = "   hello, world!   "
print(text.strip())

text = "Hello, World!"
print(text.replace("Hello", "Hi"))

text = "Hello, World!"
print(text.split())

text = "Hello, World!"
print(text.startswith("Hello"))

text = "Hello, World!"
print(text.endswith("World!"))

Hello, world!
HELLO, WORLD!
hello, world!
hello, world!
Hi, World!
['Hello,', 'World!']
True
True

In [4]:
month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
num_days = days_in_month[month - 1]
print(num_days)

31

In [5]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']


recent_dates = eclipse_dates[-3:]

print(recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [6]:

students_data = {
    "student1": {
        "name": "saad",
        "age": 22,
        "grade": "A+",
        "address": "etc street hyd",
        "phone": "1234"
    },
    "student2": {
        "name": "osama",
        "age": 22,
        "grade": "A+",
        "address": "abc street hyd",
        "phone": "5678"
    },
    "student3": {
        "name": "Akhuund",
        "age": 22,
        "grade": "A+",
        "address": "def street hyd",
        "phone": "9876"
    }
}


print("Student 1:")
print("Name:", students_data["student1"]["name"])
print("Age:", students_data["student1"]["age"])
print("Grade:", students_data["student1"]["grade"])
print("Address:", students_data["student1"]["address"])
print("Phone:", students_data["student1"]["phone"])

print("\nStudent 2:")
print("Name:", students_data["student2"]["name"])
print("Age:", students_data["student2"]["age"])
print("Grade:", students_data["student2"]["grade"])
print("Address:", students_data["student2"]["address"])
print("Phone:", students_data["student2"]["phone"])

print("\nStudent 3:")
print("Name:", students_data["student3"]["name"])
print("Age:", students_data["student3"]["age"])
print("Grade:", students_data["student3"]["grade"])
print("Address:", students_data["student3"]["address"])
print("Phone:", students_data["student3"]["phone"])

Student 1:
Name: saad
Age: 22
Grade: A+
Address: etc street hyd
Phone: 1234

Student 2:
Name: osama
Age: 22
Grade: A+
Address: abc street hyd
Phone: 5678

Student 3:
Name: Akhuund
Age: 22
Grade: A+
Address: def street hyd
Phone: 9876