<a href="https://colab.research.google.com/github/SaadOsama/DS-A-lab/blob/main/20sw120_Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
points = 174
if points >= 200:
    result = "Congratulations! You achieved a high score!"
elif points >= 150:
    result = "Great job! You scored well!"
elif points >= 100:
    result = "Nice effort! You have a decent score."
else:
    result = "Keep practicing! Your score is below the average."

print(result)

Great job! You scored well!

In [2]:
answer = 42
guess = 35

if guess < answer:
    result = "Oops! Your guess was too low."
elif guess > answer:
    result = "Oops! Your guess was too high."
else:
    result = "Nice! Your guess matched the answer!"

print(result)

Oops! Your guess was too low.

In [4]:
def calculate_tax(purchase_amount, state):

    tax_rates = {
        "CA": 0.075,   # 7.5%
        "MN": 0.095,   # 9.5%
        "NY": 0.089    # 8.9%
    }


    if state in tax_rates:

        tax_rate = tax_rates[state]
        taxed_amount = purchase_amount * tax_rate
        total_amount = purchase_amount + taxed_amount


        return taxed_amount, total_amount
    else:

        return None, None


purchase_amount = 100
state = "CA"
taxed_amount, total_amount = calculate_tax(purchase_amount, state)
if taxed_amount is not None:
    print("Purchase Amount: ${}".format(purchase_amount))
    print("State: {}".format(state))
    print("Taxed Amount: ${}".format(taxed_amount))
    print("Total Amount after Tax: ${}".format(total_amount))
else:
    print("Invalid state. Tax information not available.")

Purchase Amount: $100
State: CA
Taxed Amount: $7.5
Total Amount after Tax: $107.5

In [5]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [6]:
for number in range(5, 31):
    if number % 5 == 0:
        print(number, end="")

51015202530

In [8]:
names = ["Saad", "Osama", "Bilal", "Mushtaque", "khalil"]
first_names = [name.split()[0].lower() for name in names]
print(first_names)

['saad', 'osama', 'bilal', 'mushtaque', 'khalil']

In [9]:
multiples_3 = [3 * i for i in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [10]:
scores = {"Saad": 70, "Osama": 35, "Akhund ": 82, " Bilal": 23, "Saif": 98}


passed = [name for name, score in scores.items() if score >= 65]

print(passed)

['Saad', 'Akhund ', 'Saif']

In [11]:
cast_names = ["Saad", "Osama", "Aamir", "Jawad", "Aashir"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Saad': 72, 'Osama': 68, 'Aamir': 72, 'Jawad': 66, 'Aashir': 76}

In [12]:
cast = ["Saad", "Osama", "Mustafa", "Ahmed", " Mushtaque"]
heights = [72, 68, 72, 66, 76]


for i, name in enumerate(cast):
    cast[i] = name + str(heights[i])

print(cast)

['Saad72', 'Osama68', 'Mustafa72', 'Ahmed66', ' Mushtaque76']